*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 120px;
    background-color: #2C3E50;
    color: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    h1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: calc(50% - 200px);
        top: calc(40px - 20px);
    }
    ul{
        position: absolute;
        bottom: 20px;
        left: calc(50% - 100px);
        width: 200px;
        display: flex;
        list-style: none;
    }
    ul li{
        margin: 0 10px;
    }
}
main{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 70px;
    float: left;
    section{
        width: 100%;
        background-color: #ECF0F1;
    }
    #seccion1{
        height: 500px;
        margin-bottom: 50px;
        padding: 30px 40px;
        >h2{
            margin-left: calc(50% - 150px);
            text-align: center;
            width: 300px;
            
        }
        p{
            margin-left: 30px;
            margin-top: 30px;
        }
        .cuadrados{
            margin-top: 90px;
            .cuadrado{
                background-color: #3498DB;
                width: 200px;
                height: 200px;
                border-radius: 5px;
                float: left;
                margin-left: 25px;
                color: #fff;
                font-size: 20px;
                padding: 25px;
            }
            .cuadrado:hover{
                background-color: #1ABC9C;
                color: red;
            }
            h2{
                margin-left: 60px;
                float: left;
            }
        }
    }
    #seccion2{
        padding: 35px 0;
        #sticky{
            padding: 10px;
            position: sticky;
            top:120px;
            width: 98%;
            margin-left: calc(50% - 49%);
            height: 45px;
            text-align: center;
            background-color:#16A085;
            color: #fff;
        }
        >p{
            margin: 20px 0;
            padding-left: 1.2%;
        }
        >div{
            border-radius: 3px;
            width: 98%;
            margin-left: calc(50% - 49%);
            background-color: #fff;
            height: 400px;
            padding: 45px 20px;
            p{
                margin: 35px 0;
            }
            p::after{
                content: '...Continúta leyendo.';
                font-style: italic;
                color: #944EB1;
            }
        }
    }
    #seccion3{
        background-color: #fff;
        height: 180px;
        h3{
            width: 200px;
            text-align: center;
            padding-top: 140px;
            margin-left: calc(50% - 100px);
        }
    }
    #seccion4{
        background-color: #ECF0F1;
        border: 2px solid #CDD3D6;
        margin-bottom: 35px;
        height: 65px;
        padding-top: 15.5px;
        p{
            float: left;
            margin-left: 15px;
        }
        button{
            float: right;
            background-color: #E74C3C;
            border: 1px solid #e7423c;
            padding: 10px;
            color: #fff;
        }
    }
}
footer{
    background-color: #2C3E50;
    position: fixed;
    bottom:0;
    left:0;
    height: 70px;
    width: 100%;
    z-index:999;
    color: #fff;
    p{
        width: 100%;
        height: 20px;
        margin-top:calc(35px - 10px);
        text-align: center;
    }
    p::after{
        content: 'Victor Corral';
        color: #3474A6;
    }
}
footer p::before, #seccion1 p::before, #seccion2 p::before, #seccion3 div>p::before, #seccion4 p::before{
    content: '→';
    color: #D37432;
    margin-right: 3px;
}
