*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre{
    width: 100vw;
    height: 100px;
    background-color: red;
    display: flex;
}
#hijo1{
    background-color: black;
    flex-shrink: 1;
    flex-basis: 100%;
    
}
#hijo2{
    background-color: blue;
    flex-shrink: 1;
    flex-basis: 100%;
}
#hijo3{
    background-color: green;
    flex-shrink:2;
    flex-basis: 100%;
}